$default-padding-vertical: 7px !default;
$default-padding-horizontal: 18px !default;
$default-margin-vertical: 15px !default;
$default-button-border-radius: 20px !default;
$default-border-radius: 4px !default;
$default-height: 40px !default;
$default-font-size: 14px !default;
$default-font-family: 'Muli', "Helvetica", Arial, sans-serif !default;
$default-color: #66615B !default;
$default-background-color: #66615B !default;
$default-states-color: #403D39 !default;
$default-disabled-color: #666666 !default;

$enable-rounded: true !default;
