@use "./defaults" as defaults;
@import './vendor-prefixes';
@import './border-radius';

@mixin body-with-modal-open() {
  // Kill the scroll on the body
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// Container that the modal scrolls within
@mixin modal-container(
  $zindex: defaults.$zindex-modal,
  $dialog-margin: defaults.$modal-dialog-margin,
  $static-transform: defaults.$modal-scale-transform,
  $margin-content: defaults.$modal-content-margin

) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  // Shell div to position the modal with bottom padding

  &:not(.show) {
    display: none;
  }

  .modal-dialog {
    position: relative;
    width: auto;
    margin: $dialog-margin;
    // allow clicks to pass through for custom click handling to close modal
    pointer-events: none;

    // When trying to close, animate focus to scale
    .modal.modal-static & {
      transform: $static-transform;
    }

    .content {
      margin: $margin-content;
    }
  }
}

@mixin modal-fade(
  $transition: defaults.$modal-transition,
  $transform: defaults.$modal-fade-transform
) {
  transition: $transition;
  transform: $transform;
}

@mixin modal-show($transform: defaults.$modal-show-transform) {
  transform: $transform;
}

@mixin modal-scrollable($margin: defaults.$modal-dialog-margin) {
  display: flex; // IE10/11
  max-height: subtract(100%, $margin * 2);

  .content {
    max-height: subtract(100vh, $margin * 2); // IE10/11
    overflow: hidden;
  }

  .header,
  .footer {
    flex-shrink: 0;
  }

  .body {
    overflow-y: auto;
  }
}

@mixin modal-centered($margin: defaults.$modal-dialog-margin) {
  display: flex;
  align-items: center;
  min-height: subtract(100%, $margin * 2);

  // Ensure `modal-dialog-centered` extends the full height of the view (IE10/11)
  &::before {
    display: block; // IE10
    height: subtract(100vh, $margin * 2);
    height: min-content; // Reset height to 0 except on IE
    content: '';
  }

  // Ensure `.modal-body` shows scrollbar (IE10/11)
  &.scrollable {
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .content {
      max-height: none;
    }

    &::before {
      content: none;
    }
  }
}

// Actual modal
@mixin modal-content(
  $color: defaults.$modal-content-color,
  $background-color: defaults.$modal-content-bg,
  $border-width: defaults.$modal-content-border-width,
  $border-color: defaults.$modal-content-border-color,
  $border-radius: defaults.$modal-content-border-radius,
  $box-shadow-size: defaults.$modal-content-box-shadow-xs
) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
  // counteract the pointer-events: none; in the .modal-dialog
  margin: auto;
  color: $color;
  pointer-events: auto;
  background-color: $background-color;
  background-clip: padding-box;
  border: $border-width solid $border-color;
  @include border-radius($border-radius);
  @include box-shadow($box-shadow-size);
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
@mixin modal-backdrop(
  $zindex: defaults.$zindex-modal-backdrop,
  $background-color: defaults.$modal-backdrop-bg,
  $opacity: defaults.$modal-backdrop-opacity
) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex;
  width: 100vw;
  height: 100vh;
  background-color: $background-color;

  // Fade for backdrop
  &.fade {
    opacity: 0;
  }
  &.show {
    opacity: $opacity;
  }
}

// Modal header
// Top section of the modal w/ title and dismiss
@mixin modal-header(
  $border-color: defaults.$modal-header-border-color,
  $border-radius: defaults.$modal-content-inner-border-radius,
  $border-width: defaults.$modal-header-border-width,
  $padding: defaults.$modal-header-padding,
  $padding-x: defaults.$modal-header-padding-x,
  $padding-y: defaults.$modal-header-padding-y
) {
  display: flex;
  align-items: flex-start; // so the close btn always stays on the upper right corner
  justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
  padding: $padding;
  border-bottom: $border-width solid $border-color;
  @include border-top-radius($border-radius);

  .close {
    padding: $padding;
    // auto on the left force icon to the right even when there is no .modal-title
    margin: (-$padding-y) (-$padding-x) (-$padding-y)
      auto;
  }
}

// Title text within header
@mixin modal-title($line-height: defaults.$modal-title-line-height) {
  margin-bottom: 0;
  line-height: $line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
@mixin modal-body() {
  position: relative;
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when there should be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  padding: $modal-inner-padding;
}

// Footer (for actions)
@mixin modal-footer() {
  display: flex;
  flex-wrap: wrap;
  align-items: center; // vertically center
  justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
  padding: $modal-inner-padding - $modal-footer-margin-between / 2;
  border-top: $modal-footer-border-width solid $modal-footer-border-color;
  @include border-bottom-radius($modal-content-inner-border-radius);

  // Place margin between footer elements
  // This solution is far from ideal because of the universal selector usage,
  // but is needed to fix https://github.com/twbs/bootstrap/issues/24800
  > * {
    margin: $modal-footer-margin-between / 2;
  }
}

// Measure scrollbar width for padding body during modal show/hide
@mixin modal-scrollbar-measure() {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
