syntax: glob
*.pyc
*.pyo
*.mo
*.db
*.egg
*.egg-info
.idea
.mypy_cache
/config
/log
/data
/docker/volumes
/site
docker.secrets
docker-compose.override.yml
celerybeat-schedule
dist
build
.vagrant
.vagrant.d/
.DS_Store
ubuntu*.log
*.local
