syntax: glob
*.pyc
*.pyo
*.mo
*.db
*.egg
*.egg-info
.idea
.mypy_cache
/builds
/config
/log
/data
/docker/volumes
/site
/.env
docker-compose.override.yml
celerybeat-schedule
dist
build
.vagrant
.vagrant.d/
.DS_Store
ubuntu*.log
*.local
