syntax: glob
*.pyc
*.pyo
*.mo
*.db
*.egg
*.egg-info
.idea
.mypy_cache
/builds
/config
/log
/data
/docker/volumes
/site
/.env
docker-compose.override.yml
celerybeat-schedule
dist
build
.vagrant
.vagrant.d/
.DS_Store
ubuntu*.log
*.local
.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
