[submodule "backend"]
	path = backend
	url = git@gitlab.com:mushroomlabs/hub20/hub20.git
[submodule "frontend/libs/vue-hub20"]
	path = sdk
	url = git@gitlab.com:mushroomlabs/hub20/frontend-sdk.git
[submodule "frontend/apps/web"]
	path = frontend/apps/web
	url = git@gitlab.com:mushroomlabs/hub20/frontend-app.git
[submodule "docs"]
	path = docs
	url = git@gitlab.com:mushroomlabs/hub20/documentation.git
[submodule "raiden"]
	path = raiden
	url = git@gitlab.com:mushroomlabs/hub20/raiden.git
[submodule "www"]
	path = www
	url = git@gitlab.com:mushroomlabs/hub20/website.git
[submodule "blog"]
	path = blog
	url = git@gitlab.com:mushroomlabs/hub20/blog.git
[submodule "checkout"]
	path = checkout
	url = git@gitlab.com:mushroomlabs/hub20/checkout20.git
