attributedict
celery
channels
channels_redis
django
django-allauth
django-cors-headers
django-ipware
django-model-utils
django-pdb
django-redis
djangorestframework
django-rest-auth
django_smtp_ssl
django-money
ethereum
eth-abi
ethtoken
mypy_extensions
psycopg2-binary
pycoingecko
pycryptodome
pyjwt
raiden_contracts
uvicorn
web3<6.0.0,>=5.4.0
