attributedict
celery
channels
channels_redis
django
django-allauth
django-cors-headers
django-ipware
django-model-utils
django-pdb
django-redis
djangorestframework
django-rest-auth
django_smtp_ssl
django-money
ethereum
eth-abi
ethtoken
eth-wallet
mypy_extensions
psycopg2-binary
pycoingecko
pycryptodome
pyjwt
python-dotenv
raiden_contracts
uvicorn
web3<6.0.0,>=5.4.0

# Testing / Document Generation
mkdocs
mkdocs-material
pytest-asyncio
pytest-django
pytest-env
factory_boy
