celery
channels
channels_redis
django
django-allauth
django-cors-headers
django-ipware
django-model-utils
django-pdb
django-redis
djangorestframework
django-rest-auth
django_smtp_ssl
django-money
ethereum
eth-abi
eth-keyfile
eth-wallet
mypy_extensions
psycopg2-binary
pycoingecko
pycryptodome
pyjwt
python-dotenv
raiden
raiden_contracts
uvicorn
web3==5.11.1

# Testing / CI / Document Generation
bump2version
mkdocs
mkdocs-material
pytest-asyncio
pytest-django
pytest-env
factory_boy
