$_qrcode_size: 35vw !important;
$_qrcode_max_size: 250px !important;

div.payment-request, form[name='transfer'] {
  div.button-bar {
    text-align: center;
  }
}

div.payment-request {
  text-align: center;

  canvas.qr-code {
    text-align: center;
  }

  div.payment-route {
    &:not(.selected) {
      display: none;
    }

    &.selected {
      display: block;
    }
  }

  canvas.qr-code {
    display: block;
    margin: auto;
    width: $_qrcode_size;
    height: $_qrcode_size;
    max-width: $_qrcode_max_size;
    max-height: $_qrcode_max_size;
  }

  button.web3-transfer {
    margin: 1vh auto;
  }

  div.payment-route-details {
    margin: 1vh auto;
    > span {
      display: block;
      text-align: start;
    }
  }

  div.payments {
    margin-top: 2vh;
    text-align: start;

    ul {
      padding-inline-start: 0;

      li {
        align-items: center;
        vertical-align: middle;

        &.confirmed {
          @include icon-before("check")
        }

        &:not(.confirmed) {
          @include icon-before("reload")
        }

        span.identifier {
          float: right;
          display: inline-block;
          max-width: 8rem;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

      }
    }
  }
}
