COMPOSE_PROJECT_NAME=hub20_devstack

# Simply concatenate all the docker compose files to get the services that you want to work on.

COMPOSE_FILE=./backend/docker-compose.yml:./docker/compose/dev/base.yml:./docker/compose/dev/geth_goerli.yml:./docker/compose/dev/raiden_goerli.yml:./docker/compose/monitoring.yml:./docker/compose/dev/monitoring.yml:./docs/docker-compose.yml:./docker/compose/dev/docs.yml

# If you want to have persistent docker volumes
# HUB20_DATABASE_MOUNT_PATH=/path/to/volume
# HUB20_GETH_MOUNT_PATH=/path/to/volume
# HUB20_MEDIA_MOUNT_PATH=/path/to/volume
# HUB20_CELERY_MOUNT_PATH=/path/to/volume
# HUB20_RAIDEN_MOUNT_PATH=/path/to/volume
# HUB20_PROMTAIL_MOUNT_PATH=/path/to/volume
# HUB20_INFLUXDB_MOUNT_PATH=/path/to/volume
# HUB20_GRAFANA_MOUNT_PATH=/path/to/volume
# HUB20_DOCS_PROJECT_ROOT=/path/to/volume


# When developing, be careful to use a key that is used only in testnets
HUB20_RAIDEN_ACCOUNT_PRIVATE_KEY=<private key for raiden account in hex format>
